 body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  }

/**********css for form **************/

.name-form-lightbox-effect {
  background: #FFFFFF;
    border: 10px solid rgba(0,0,0,0.3);
	width: 25%;
	-webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em; 
	
	padding: 0.9em;
	
	-moz-background-clip: padding;     /* Firefox 3.6 */
	-webkit-background-clip: padding;  /*Safari 4? Chrome 6*/
	background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
	
}

/*****************css for select tag ************/
.select-tag-class{
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	
	background-color: #5bb75b;
	background-color: -moz-linear-gradient(top, #92FE2D, #77EA0C);
	background-color: -webkit-gradient(linear, 0 0, 0 100%, from(#92FE2D), to(#77EA0C));
	background-color: -webkit-linear-gradient(top, #92FE2D, #77EA0C);
	background-color: -o-linear-gradient(top, #92FE2D, #77EA0C);
	background-color: linear-gradient(to bottom, #92FE2D, #77EA0C);
	border-color: #77EA0C #77EA0C #387038;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

}

/************css for input tag and image box****************/
input, .image-box{
	
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

input{ margin-top: 5px; margin-left: 5px;}

/*==============cookie form css ===========*/
#cookie_form{
	position: absolute;
	margin: 0 0 0 35%;

}

#cookie_storage_div_id{
		margin-top: -85px;
	
}
.button{
color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

}

.select-tag-oval{
background: #5bb75b;
    border: 10px solid rgba(0,0,0,0.3);
	width: 11%;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; 
	
	padding: 0.9em;
	
	-moz-background-clip: padding;     /* Firefox 3.6 */
	-webkit-background-clip: padding;  /*Safari 4? Chrome 6*/
	background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
	}
#order{
	margin-left: 25%;
	margin-top: -10%;
}
/***********************choice selection goes here ******************/
.font-css{
	font-family: 'Bad Script', cursive;
	color:#E691FF;
}	
#choice-div-id{
	margin-left: 0;
	maring-top: 0;
	visibility: visible;
}
